.menu {
  position: absolute;
  width: 10rem;
  top: -2rem;
  left: 20rem;
  background: linear-gradient(lightgray, darkgray);
  padding-right: 2rem;
  list-style-type: none;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid black;
}

.false {
  display: none;
}
