.zero-clicks {
  background-color: black;
  color: white;
}

.three-clicks {
  background-color: blue;
  color: white;
}

.six-clicks {
  background-color: purple;
  color: white;
}

.nine-clicks {
  background-color: salmon;
  color: white;
}

.twelve-clicks {
  background-color: orange;
  color: black;
}

.fifteen-clicks {
  background-color: yellow;
  color: black;
}

.eighteen-clicks {
  background-color: white;
  color: black;
}
